@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

@font-face{
  font-family: 'Noto Serif JP Vertical';
  src: url(../fonts/NotoSerifJP-Medium-Vertical.woff2) format('woff2'),
        url(../fonts/NotoSerifJP-Medium-Vertical.woff) format('woff'),
        url(../fonts/NotoSerifJP-Medium-Vertical.otf) format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* bold */
@font-face {
  font-family: 'Noto Serif JP Vertical';
  src: url(../fonts/NotoSerifJP-Bold-Vertical.woff2) format('woff2'),
        url(../fonts/NotoSerifJP-Bold-Vertical.woff) format('woff'),
        url(../fonts/NotoSerifJP-Bold-Vertical.otf) format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}