@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

@font-face{
  font-family: 'Noto Serif JP Vertical';
  src: url(../fonts/NotoSerifJP/NotoSerifJP-Regular-Vertical.woff2) format('woff2'),
        url(../fonts/NotoSerifJP/NotoSerifJP-Regular-Vertical.woff) format('woff'),
        url(../fonts/NotoSerifJP/NotoSerifJP-Regular-Vertical.otf) format('otf');
  font-weight: 400;
  font-display: swap;
}
/* bold */
@font-face {
  font-family: 'Noto Serif JP Vertical';
  src: url(../fonts/NotoSerifJP/NotoSerifJP-Bold-Vertical.woff2) format('woff2'),
        url(../fonts/NotoSerifJP/NotoSerifJP-Bold-Vertical.woff) format('woff'),
        url(../fonts/NotoSerifJP/NotoSerifJP-Bold-Vertical.otf) format('otf');
  font-weight: bold;
  font-display: swap;
}




@font-face{
  font-family: 'Noto Sans JP Vertical';
  src: url(../fonts/NotoSansJP/NotoSansJP-Regular-Vertical.woff2) format('woff2'),
        url(../fonts/NotoSansJP/NotoSansJP-Regular-Vertical.woff) format('woff'),
        url(../fonts/NotoSansJP/NotoSansJP-Regular-Vertical.otf) format('otf');
  font-weight: 400;
  font-display: swap;
}
/* bold */
@font-face {
  font-family: 'Noto Sans JP Vertical';
  src: url(../fonts/NotoSansJP/NotoSansJP-Bold-Vertical.woff2) format('woff2'),
        url(../fonts/NotoSansJP/NotoSansJP-Bold-Vertical.woff) format('woff'),
        url(../fonts/NotoSansJP/NotoSansJP-Bold-Vertical.otf) format('otf');
  font-weight: bold;
  font-display: swap;
}




@font-face{
  font-family: 'M PLUS Rounded 1c Vertical';
  src: url(../fonts/mplusR/mplusR-Regular-Vertical.woff2) format('woff2'),
        url(../fonts/mplusR/mplusR-Regular-Vertical.woff) format('woff'),
        url(../fonts/mplusR/mplusR-Regular-Vertical.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}
/* bold */
@font-face {
  font-family: 'M PLUS Rounded 1c Vertical';
  src: url(../fonts/mplusR/mplusR-Bold-Vertical.woff2) format('woff2'),
        url(../fonts/mplusR/mplusR-Bold-Vertical.woff) format('woff'),
        url(../fonts/mplusR/mplusR-Bold-Vertical.ttf) format('ttf');
  font-weight: bold;
  font-display: swap;
}